numpy==1.22.3
opencv_python==4.5.5.64
pandas==1.4.2
Pillow==9.1.1
pymongo==4.1.1
requests==2.27.1
scikit_learn==1.1.1
scipy==1.8.0
streamlit==1.9.0
streamlit_lottie==0.0.3
streamlit_option_menu==0.3.2
math
time
pickle
scipy.sparse
sklearn.neighbors
pandas.core.reshape.pivot
sklearn.feature_extraction.text
sklearn.metrics.pairwise
requests
pymongo
hashlib
dnspython
